{% extends "base.html" %}

{% block content %}
<h2>Book Doctor Appointment</h2>

<form method="POST">

{% csrf_token %}

Name<br>
<input type="text" name="name"><br><br>

Phone<br>
<input type="text" name="phone"><br><br>

Age<br>
<input type="number" name="age"><br><br>

Date<br>
<input type="date" name="date"><br><br>

Time<br>
<input type="time" name="time"><br><br>

Problem<br>
<textarea name="problem"></textarea><br><br>

<button type="submit">Book Appointment</button>

</form>


{%endblock%}